#navbar {
    background-color: #b76051;
    width: 100%;
    height: 50px;
    display: flex;
    position: sticky;
    align-items: center;
}

body {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.button {
    /*border-radius: 50%;*/
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    user-select: none;
    cursor: pointer;

    min-width: 40px;
    min-height: 40px;


    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
}

#searchbar {
    width: 400px;
    height: 40px;
    display: flex;
    float: right;
    margin: 5px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;

    overflow: hidden;



}

#searchbar #start{
    background-image: url(icons/searchbarstart.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
#searchbar #field{
    min-height: 40px;
    width: calc(100% - 40px);
    border: none;
    padding-left: 12px;
}
#searchbar #end{
    background-image: url(icons/searchbarend.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 40px;
    min-width: 40px;
}

#searchbarPlaceholder{
    min-width: 400px;
    width: 400px;
}


.left {
    display: flex;
    justify-content: start;
    width: calc(100%/3);
    min-width: min-content;
}

.center {
    display: flex;
    justify-content: center;
    width: calc(100%/3);
    min-width: min-content;
}

.right {
    display: flex;
    justify-content: end;
    width: calc(100%/3);
    min-width: min-content;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#recipes{
    background-image: url(icons/recipebook.svg);

}

#cooking{
    background-image: url(icons/chefhat.svg);
}

#shoppinglist{
    background-image: url(icons/shoppinglist.svg);
}

#account{
    background-image: url(icons/account.svg);
}

#upload{
    background-image: url(icons/add.svg);
    background-size: 25px;
}
#settings{
    background-image: url(icons/settings.svg);
}



#root{

    /*remove*/
    padding: 100px;
    /*------*/
}




/*----------------------------Menu line animation*/
#menusvg{
    width: 35px;
    height: 35px;
}
#menusvg line{
    transition-duration: 0.3s;
    stroke-width: 1.2px;
    stroke-linecap: round;
    stroke: white;
}
#lineTL{
    transform-origin: 1px 1px;
}
#lineTR{
    transform-origin: 9px 1px;
}
#lineML{
    transform-origin: 5px 5px;
}
#lineMR{
    transform-origin: 5px 5px;
}
#lineBL{
    transform-origin: 1px 9px;
}
#lineBR{
    transform-origin: 9px 9px;
}
#menusvg:hover #lineTL, #menusvg:hover #lineBR, #menusvg:hover #lineML{
    transform: rotate(45deg);
}
#menusvg:hover #lineTR, #menusvg:hover #lineBL, #menusvg:hover #lineMR{
    transform: rotate(-45deg);
}
/*-------------------------------------------*/






@media screen and (max-width: 710px){
    #root{
        background-color: red;
        width: calc(100%);
    }
    #navbar{
        width: 50px;
        height: 100vh;
        flex-direction: column;
    }
    body{
        flex-direction: row;
        flex-direction: row-reverse;
    }
    #searchbar{
        position: fixed;
        top: 0px;
        left: calc(50vw - 200px);
    }
}