#navbar{
    height: 5vw;
    max-height: 50px;
    width: 100vw;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar>div{
    display: flex;
}

.button{
    height: 5vw;
    max-height: 50px;
    width: 5vw;
    max-width: 50px;

    background-color: yellow;
    border-radius: 50px;
}

#searchbar{
    height: 5vw;
    max-height: 50px;
    border-radius: 5vw;

    display: flex;
    overflow: hidden;
    justify-content: center;

    width: 70vw;
}
#searchbar img{
    height: 5vw;
    max-height: 50px;
    width: 5vw;
    max-width: 50px;
}
#field{
    border: none;
    height: 5vw;
    width: 100%;
    padding-left: 2vw;
    box-sizing: content-box;

    display: flex;
    align-self: center;

}

body{
    margin: 0px;
    background-color: gainsboro;
}

@media screen and (orientation: portrait) {
    #navbar{
        justify-content: center;
    }
}